@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  background: linear-gradient(
    54.13deg,
    #010101 25.55%,
    #00192f 72.7%,
    #002c3f 106.21%
  );
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
}

.header-logo {
  height: 45px;
}

.header-menu {
  display: flex;
  gap: 32px;
}

.header-menu-item {
  font-family: "Sarala", sans-serif;
  color: #ffff;
  font-weight: 400;
  font-size: 18px;
}

.header-menu-item:hover {
  border-bottom: 1.5px solid #ffff;
}

.main-div {
  margin-bottom: 48px;
  border-top: 0.4px solid #ffff;
}

.main-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.main-content-div {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.main-title {
  font-family: "Righteous", cursive;
  font-weight: 400;
  font-size: 64px;
  color: #ffff;
}

.main-subtitle {
  font-family: "Sarala", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #ffff;
}

.main-button {
  background-color: #e00f63;
  width: 180px;
  height: 60px;
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: "Sarala", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #ffff;
  cursor: pointer;
}

.main-button:hover {
  border: 3px solid #e00f63;
  background-color: transparent;
}

.div-image {
  display: flex;
  flex-direction: column;
}

.div-rocketman {
  animation: move 4s ease infinite;
}

@keyframes move {
  50% {
    transform: translate(0px, 30px);
  }
}

.main-image {
  height: 370px;
  margin-top: 50px;
}

.div-base {
  /* animation: rotate 4s ease infinite; */
}

@keyframes rotate {
  50% {
    transform: rotate(3deg);
  }
}

.base-image {
  margin-left: 50px;
  margin-top: -35px;
  margin-bottom: 50px;
}

.secondary-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 50px;
}

.secondary-content-title {
  border-top: 0.4px solid #ffff;
  padding-top: 48px;
  font-family: "Righteous", cursive;
  font-weight: 400;
  font-size: 24px;
  color: #ffff;
  margin-bottom: 16px;
}

.secondary-content-text {
  font-family: "Sarala", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #ffff;
}

.footer {
  padding: 32px;
  border-top: 0.4px solid #ffff;
}

.footer-image {
  height: 45px;
  display: block;
  margin: 0 auto;
}
